body {
    background-color: #1e2327;
}


.center {
    opacity: 1;
    display: block;
    position: fixed;
    width: 500px;
    height: 250px;
    background-color: #eeeeee;
    z-index: 15;
    margin-left: 55vh;
    padding: 10px;
}

.h2{

}