body {
    min-height: 100vh;
}

.uva-margin {
    margin-left: 20px;
}

.uva-margin-center {
    margin: 40px;
}

.uva-margin-top {
    margin-top: 20px;
}

.dark-blue-gradient {
    background: linear-gradient(to left, #28a5f5, #1e87f0);
}

.dark-purple-gradient {
    background: linear-gradient(to left, #C6426E, #642B73);
}

.dark-purple-gradient-bottom {
    background: linear-gradient(to bottom, #642B73, #C6426E);
}

.purple-gradient {
    background: linear-gradient(to left, #d194ff, #9389ff);
}
.blue-gradient {
    background: linear-gradient(to left, #7cbfee, #00d0b8);
}
.orange-gradient {
    background: linear-gradient(to left, #ff77a7, #ff7b7e);
}

.background-white {
    background: whitesmoke;
}

.drop-area {
    min-height: 50px;
    min-width: 60px;
    display: block;
    background: white;
    border: 2px dashed rgba(30, 135, 240, 0.3);
    color: #28a5f5;
    text-align: center;
    vertical-align: middle;

}

.drop-area .content {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
